.music {
    margin-bottom: 88px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 15px;
    align-items: center;
}

.music img {
    width: 70px;
    border-radius: 50%;
    height: 70px;
    margin-right: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.music ul li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.music ul {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 15px;
}

.info h3 {
    font-size: 20px;
}

.info p {
    font-size: 16px;
}