.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}

.containerInfos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.infosImagem img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.infos {    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imagem {
    width: 40px;
    height: 40px;
}

.imagem img {
    cursor: pointer;
}

.infosTitle h3 {
    font-size: 20px;
}

.infosTitle p {
    font-size: 15px;
    font-weight: 600;
    color: #2c2c2c;
}

.categoryArtist {
    display: flex;
    gap: 15px;
}

.scan {
    background-color: gray;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    font-weight: bold;
}