@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Anton&family=Bebas+Neue&family=Bree+Serif&family=Kanit&family=Oswald:wght@400;500&family=Passion+One&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.imageCarousel {
  border-radius: 30px;
}

.containerPerfil {
  background-color: #005706;
  height: 120px;
}

.btn {
  background-color: transparent;
  border: none;
}

.btnPlay {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
}

.btnPlay2 {
  border: none;
  background-color: transparent;
}

.containerMusic {
  display: flex;
  padding: 50px;
  justify-content: center;
  text-align: center;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.card {
 width: 190px;
 height: 254px;
 background: #3405a3;
 border-radius: 15px;
 box-shadow: 1px 5px 60px 0px #100a886b;
  margin: 50px;
}

.card .card-border-top {
 width: 60%;
 height: 3%;
 background: #6b64f3;
 margin: auto;
 border-radius: 0px 0px 15px 15px;
}

.card span {
 font-weight: 600;
 color: white;
 text-align: center;
 display: block;
 padding-top: 10px;
 font-size: 16px;
}

.card .job {
 font-weight: 400;
 color: white;
 display: block;
 text-align: center;
 padding-top: 3px;
 font-size: 12px;
}

.card .img {
 width: 70px;
 height: 80px;
 background: #6b64f3;
 border-radius: 15px;
 margin: auto;
 margin-top: 25px;
}

.card button {
 padding: 8px 25px;
 display: block;
 margin: auto;
 border-radius: 8px;
 border: none;
 margin-top: 30px;
 background: #6b64f3;
 color: white;
 font-weight: 600;
}

.card button:hover {
 background: #534bf3;
}

.img img {
  width: 70px;
  height: 70px;
}

.titleFavorites {
  display: flex;
  justify-content: end;
  margin-top: -10px;
  margin-right: 40px;
  text-decoration: underline;
}